form p{
    float: left;
    width: 50%;
}
body{
    vertical-align: middle;
}
html{
    background: black;
    color: white;
    height: 100%;
    text-align: center;
}
input{
    border: 5px outset gray;
    box-shadow: gray 3px 3px 3px;
}

button{
    background-color: white;
    color:  (41, 23, 0);
    border: 5px outset gray;
    box-shadow: gray 3px 3px 3px;
    margin: 2px;
    font-size: 15px;
}
form, p{
    color:white;
    font-size: 20px;
    text-shadow: black 2px 2px 2px;
}